<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/global.css">
    <title>Tchat en node.js</title>
</head>

<body>
    <div class="container">
        <div class="header_div row my-4">
            <h1 class="center col-12 col-md-6 offset-md-3">Bluesquare chat</h1>
            <h2 class="center col-12 col-md-3 text-sm-right my-auto">logged as
                <span class="logged_as"></span>
            </h2>
        </div>

        <div id="main_div">

            <!-- connected users screen -->
            <div id="connected_users" class="mb-3 mb-md-0 float-md-left mr-md-3">
                <div>huihiuhniu</div>
                <div>huihiuhniu</div>
                <div>huihiuhniu</div>
                <div>huihiuhniu</div>
            </div>

            <!-- output screen -->
            <div class="row">
                <div id="output_field" class="col-12"></div>
            </div>

            <!-- "a user is typing" -->
            <div id="info_field" class="row mt-3 mt-md-4 mt-xl-5"></div>

            <!-- message input and submit button -->
            <form id="main_form" method="POST" action="/" class="row">
                <input type="text" name="message" id="message_input" class="col-12 col-md-10" placeholder="Your message">
                <input type="submit" value="Send" class="submit_button btn btn-success col-4 offset-4 col-md-2 offset-md-0">
            </form>
        </div>
    </div>

    <script src="lib/jQuery.js"></script>
    <script src="js/chat.js"></script>

</body>

</html>