<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/global.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Merienda" rel="stylesheet">
    <title>Bluesquare chat</title>
</head>

<body>
    <div id="main_div_rooms" class="container center">
        <h1 class="h1_rooms">Welcome to Bluesquare chat</h1>
        <h2 class="my-3">Pick a room !</h2>
        <div class="rooms_container mt-5">
            <form action="/room" method="GET" class="inline_block">
                <input type="hidden" name="room" value="1">
                <input type="submit" value="room 1">
            </form>
            <form action="/room" method="GET" class="inline_block">
                <input type="hidden" name="room" value="2">
                <input type="submit" value="room 2">
            </form>
            <form action="/room" method="GET" class="inline_block">
                <input type="hidden" name="room" value="3">
                <input type="submit" value="room 3">
            </form>
        </div>
    </div>
</body>

</html>