
/* GENERAL */
.center {
    text-align: center;
}

/* PAGE */
.container {
    margin-top: 3vh;
    max-width: 80vw;
}

#output_field {
    height: 60vh;
    box-shadow: 2px 2px 7px grey;
}

/* .main_logo {
    width: 90px;
    height: 70px;
} */

h1 {
    font-family: "Lucinda", "sans-serif";
    font-size: 35px;
    margin-bottom: 0;
}

h2 {
    font-size: 20px;
}

@media(max-width: 766px) {
    .submit_button {
        margin-top: 15px;
    }
}



