
/* GENERAL */

body {
    font-family: "Dancing Script", "cursive";
    background-color: #88A87D;
}

.center {
    text-align: center;
}

.block {
    display: block;
}

.card {
    border-radius: 0;
}

/* PAGE */

.container {
    margin-top: 3vh;
    max-width: 80vw;
}

h1 {
    font-size: 40px;
    margin-bottom: 0;
    color: white;
}

h2 {
    font-size: 23px;
    color: white;
}

#main_div {
    height: 73%;
}

#connected_users {
    height: 100%;
    width: 20vw;
    box-shadow: 2px 2px 7px grey;
    font-size: 20px;
}

.card-header {
    background-color: #DBE4D8;
}

#users_list {
    overflow-y: auto;
}

#output_field {
    height: 60vh;
    box-shadow: 2px 2px 7px grey;
    overflow-y: auto;
    font-family: "arial", "sans-serif";
    background-color: white;
}

.username {
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
}

.date {
    font-size: 10px;
}

#info_field {
    font-style: italic;
    color: grey;
    font-size: 14px;
}

#message_input {
    font-family: "arial", "sans-serif";
}

.submit_button {
    font-family: "arial", "sans-serif";
    background-color: lightsalmon;
    border-color: transparent;
}

@media(max-width: 766px) {
    #connected_users {
        height: 50%;
        width: inherit;
    }
    .submit_button {
        margin-top: 15px;
    }
}
